# =================================================================
#  splashscreen.service
#  Splash screen service for Raspberry Pi
#
#  !!! WARNING !!! WARNING !!! WARNING !!! WARNING
#  This script is designed ONLY for Raspberry Pi 2/3 running
#  Debian 12 (Bookworm).
#
#  Dependencies: 
#      - fbi       sudo apt install fbi
#
#  Installation:   /etc/systemd/system/
#
#  Configuration:  sudo systemctl daemon-reload
#                  sudo systemctl enable splashscreen.service
#
#  Copyright (c) 2026 Yu-Sung Chang | MIT License
# =================================================================
[Unit]
Description=Splash Screen
DefaultDependencies=no
After=local-fs.target

[Service]
ExecStart=/usr/bin/fbi -d /dev/fb0 --noverbose -T 1 /pi-splash.png
RemainAfterExit=yes
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=sysinit.target
